{% extends "layout.html" %}

{% block content %}

<style>
    body {
        background-color: #eee
    }
</style>

<div class="row">
    <div class="row" style="padding:50px;">    
        <h4 style="text-align:center;">
            The Myanmar Pioneer University - MPU aspires to be a vital community of academics, researchers, staff, students and alumni working together in a spirit of innovation and enterprise for a better world.
            Our singular focus on talent will be the cornerstone of a truly great university that is dedicated to quality education, influential research and visionary enterprise, in service of country and society.
        </h4>
    </div>

    <h5>Vision</h5>
    <p class="text-justify">
        <ul class="about-list">
            <li>a leading global university</li>
            <li>innovation for the future</li>
        </ul>
    </p>   
    <h5>Missions</h5>
        <ul class="about-list">
            <li>To educate, inspire and transform</li>
            <li>To obtain more opportunities for developing multi-sectors such as human resources, economy, society and education</li>
            <li>To collaborate with international organizations, institutions and research organizations for establishing research works </li>
            <li>To produce human capitals with five strengths such as physical, moral, ethical, social and economic </li>
            <li>To create a new teaching-learning environment which emphasizes the research analysis of innovations</li>
            <li>To become a university which assures the quality by enhancing quality of education, research and service areas.</li>
        </ul>
        
    <h5>Goals</h5>
        <ul class="about-list">
            <li>To become a university that conducts teaching and research </li>
            <li>To promote the quality of teaching, research work, and living standard of the teaching staff. </li>
            <li>To provide high quality education services for improving the employment opportunities of students. </li>
            <li>To build and renovate the research laboratories in accordance with the international procedures for achieving the research works. </li>
        </ul>	
    <h5>Values </h5>
        <ul class="about-list">
            <li>Integrity</li>
            <li>Lifelong learning </li>
            <li>Ethic</li>
            <li>Innovation</li>
            <li>Resilience</li>
            <li>Excellence</li>
            <li>Respect</li>            
            <li>Integrity</li>
        </ul>

</div>

{% endblock %}
