{% extends "layout.html" %}

{% block content %}

<div class="jumbotron" style="padding:50px;">
    <h3>MYANMAR PIONEER UNIVERSITY - MPU</h3>
    <p class="lead" style="font-size:14px;">
        Welcome to the Myanmar Pioneer University!
    </p>
    <p class="text-justify" style="font-size:13px;">
        Teaching at the University is undergoing a major modernization programme. All students are encouraged to become “autonomous learners”. This means teaching at University is structured to encourage students to take responsibility for their own learning. Students are encouraged to embark successfully on their academic journey that will define their career in the years ahead. They are encouraged to look more broadly at their set of skills and understand the importance of continuing to develop their skills beyond university. Graduates of the University will not only be highly employable but also intellectually entrepreneurial to benefit themselves, their colleagues and the community more widely.
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Impact for the Future</h3>
        <p class="text-justify">
            Find out more about MPU's value creation over the last five years and our impact on individual and communities, at home and abroad.
        </p>
    </div>
    <div class="col-md-3">
        <h3>University leadership</h3>
        <p class="text-justify">
            Meet our leaders who shape our University to contribute and make a difference.
        </p>
    </div>
    <div class="col-md-3">
        <h3>Innovation & Impact</h3>
        <p class="text-justify">            
            Transformative. Life-changing. Innovative. Caring. Holistic. We are MPU.
        </p>
    </div>
    <div class="col-md-3">
        <h3>The best campus life</h3>
        <p class="text-justify">            
            You will study hard. You will play hard. You will make friends for life.
        </p>
    </div>

</div>

{% endblock %}
